{% extends 'base.html.twig' %}

{% block title %}Movie: {{ movie.title }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Movie : {{ movie.title }}</h1>

    <ul>
        <li>Released at : {{ movie.releasedAt|date('d M Y') }}</li>
        <li>Genres : {{ movie.genres|join(', ') }}</li>
    </ul>
</div>
{% endblock %}
